<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="License2ConnectionString" connectionString="Data Source=DESKTOP-MAIN\SQLEXPRESS;Initial Catalog=License2;User ID=sa;Password=hesoyam123"
            providerName="System.Data.SqlClient" />
        <add name="SQLServerConnection" connectionString="Data Source=DESKTOP-MAIN\SQLEXPRESS;Initial Catalog=License2;User ID=sa;Password=hesoyam123" />
        <add name="LicenseConnectionString" connectionString="Data Source=DESKTOP-MAIN\SQLEXPRESS;Initial Catalog=License;User ID=sa;Password=hesoyam123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
